<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBE6AGuZH-3FfUHfONpCVVOqwsWPpde_fU</string>
	<key>GCM_SENDER_ID</key>
	<string>163433165498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gali.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-29a81</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-29a81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163433165498:ios:35212a3106a8d1a1b80883</string>
</dict>
</plist>